$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;
#about-page {
    overflow: hidden;
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        color: #919191;
        margin-top: 30px;
        opacity: 0;
        will-change: opacity;
        -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
        -o-animation: fadein .5s; /* Opera < 12.1 */
        animation: fadein .5s;
        animation-delay: .4s;
        animation-fill-mode: forwards;  

        .avatar-box {
            position: relative;
            border: 2px #f4f4fa;
            background: #f4f4fa;
            border-radius: 100%;
            width: 140px;
            height: 140px;
            &:before {
                content: " ";
                position: absolute;
                z-index: -1;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                border-radius: 109%;
                background-image: linear-gradient(90deg, rgba(129, 160, 193, 0.64), rgba(178, 118, 131, 0.56)), linear-gradient(90deg, rgba(129, 160, 193, 0.64), rgba(178, 118, 131, 0.56));
                background-position: 0 0px, 100% 100%;
                background-size: 100% 11px;
                border-left: 15px solid rgba(129, 160, 193, 0.64);
                border-right: 3px solid rgba(178, 118, 131, 0.56);
                padding: 11px 9px;
            }
        }
        .avatar {
            width: 150px;
            height: 150px;
            clip-path: circle(65px at center);
            -webkit-clip-path: circle(65px at center);
            /* clip-path: circle(65px at center); */
            /* display: inline-block; */
            /* box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16); */
            vertical-align: middle;
            padding: 5px;
            margin: -9.5px;
        }
        .name {
            font-weight: bold;
            font-size: 18px;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 1.7px;
            text-align: left;
            transition: all .3s;
            text-align: center;
        }
    }
    .main-content {
        will-change: transform;
        border-radius: 20px;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        box-shadow: 7px 15px 20px 0 rgba(0, 0, 0, 0.03);
        background-color: #ffffff;
        margin: 5px 28px 28px;
        padding: 38px 36px 38px;
        -webkit-animation: SlideToTop .5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: SlideToTop .5s; /* Firefox < 16 */
        -ms-animation: SlideToTop .5s; /* Internet Explorer */
        -o-animation: SlideToTop .5s; /* Opera < 12.1 */
        animation: SlideToTop .5s;
        animation-delay: .6s;
        animation-fill-mode: forwards;  
        position: absolute;
        top: 100%;
        @media screen and (max-width: $pc-media) {
            margin: 5px 3px 40px;
        }
        @media screen and (max-width: $phone-media) {
            -webkit-animation: SlideToTopInMobile .5s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: SlideToTopInMobile .5s; /* Firefox < 16 */
            -ms-animation: SlideToTopInMobile .5s; /* Internet Explorer */
            -o-animation: SlideToTopInMobile .5s; /* Opera < 12.1 */
            animation: SlideToTopInMobile .5s;
            animation-fill-mode: forwards;  
        }
        
        h1 {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: 1.7px;
            text-align: left;
            color: #606060;
            margin-top: 40px;
        }
        p {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.5;
            letter-spacing: 1.2px;
            text-align: left;
            color: #606060;

        }
        label.blue {
            font-size: 12px;
            color: #6f6f6f;
            border-radius: 50px;
            background-color: rgba(217, 223, 242, 0.75);
            padding: 9px 18px;
            display: inline-block;
            margin: 0 6px;
            margin-bottom: 10px;
            will-change: auto;
        }
        label.pink {
            font-size: 12px;
            border-radius: 50px;
            background-color: rgba(230, 207, 207, 0.75);
            padding: 7px 15px;
            display: inline-block;
            margin: 0 6px;
            color: #6f6f6f;
            margin-bottom: 10px;
            will-change: auto;
        }
        .timeline-container {
            position: relative;
            margin-top: 50px;
            padding-left: 15px;
            color: #919191;
            width: 100%;
            height: auto;

            .timeline-milestone {
                list-style: none;
                display: flex;
                align-items: center;
                @media screen and (max-width: $pc-media) {
                    flex-direction: column;
                    .timeline-date {
                        width: 100%;
                        padding: unset;
                        margin: 0;
                        p {
                            padding-left: 40px;
                            font-weight: bold;
                        }
                        &:before {
                            content: '';
                            width: 15px;
                            height: 15px;
                            background: #ecdbdb;
                            position: absolute;
                            margin-top: 20px;
                            margin-left: 15px;
                            border-radius: 100%;
                            left: 0;
                        }
                    }
                    .timeline-content {
                        width: 100%;
                        padding-left: unset;
                    }
                }
            }
            .timeline-date {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: .8;
                letter-spacing: 1.5px;
                text-align: right;
                padding-right: 50px;
                word-break: keep-all;
                justify-content: flex-start;
                width: 18%;
                @media screen and (min-width: $pc-media) {
                    &:after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        background: #ecdbdb;
                        position: absolute;
                        margin-left: 44px;
                        margin-top: -33px;
                        border-radius: 100%;
                    }
                }
            }
            .timeline-content {
                transition: all .5s;
                padding-left: 35px;
                padding-top: 20px;
                padding-bottom: 40px;
                border-left: 2.5px solid #dedede;
                font-size: 14px;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 1.5px;
                text-align: left;
                font-weight: normal;
                width: 65%;
                justify-content: flex-end;
                p {
                    line-height: 2;
                    letter-spacing: 1.5px;
                    color: #919191;
                    font-weight: 500;
                    a {
                        font-weight: 500;
                    }
                }
                @media screen and (max-width: $pc-media) {
                    border-left: none;
                }

                a {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2;
                    letter-spacing: 1.5px;
                    text-align: left;
                    color: #919191;
                }
                b {
                    font-weight: bold;
                }

                li {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2;
                    letter-spacing: 1.5px;
                    text-align: left;
                    color: #919191;
                    list-style: disc;
                }
                .image-hover * {
                    -moz-box-sizing:border-box;
                    -webkit-box-sizing:border-box;
                    box-sizing:border-box
                }
                .image-hover {
                    position:relative;
                    max-width:200px;
                    height:150px;
                    display:inline-block;
                    overflow:hidden;
                    margin-top: 20px;
                    vertical-align: middle;
                    margin-left: 30px;
                    cursor: pointer;
                }
                .image-hover a {text-decoration:none}

                .image-hover img { 
                    opacity: 0.8;
                    width:100%;
                    margin:-10px -10px -10px -10px;
                }
                .img-zoom-in img 
                {
                    will-change: transform;
                    transition:all .2s ease-in-out !important;
                    -webkit-transition:all .2s ease-in-out;
                    -moz-transition:all .2s ease-in-out;
                    -ms-transition:all .2s ease-in-out;
                    -o-transition:all .2s ease-in-out;
                }

                .img-zoom-in:hover img 
                {
                    transform:scale(1.1);
                    -webkit-transform:scale(1.1);
                    -moz-transform:scale(1.1);
                    -ms-transform:scale(1.1);
                    -o-transform:scale(1.1);
                    opacity: 1 !important;
                }
                
            }
        }
        .awards-list {
            li {
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 1.5px;
                text-align: left;
                color: #919191;
                list-style: disc;
            }
        }
        .quick_fact_img_group {
            width: fit-content;
            img {
                cursor: pointer;
                margin-left: 10px;
                margin-bottom: 10px;
                &.vertical {
                    width: 100px;
                }
                &.horizontal {
                    height: 100px;
                }
            }
        }
    }
}
.bubble_wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 20px;
}
.bubble {
    background: #6D7589;
    color: white;
    border-radius: 5px;
    padding: 7px 14px;
    margin-left: 10px;
    z-index: 1;
    line-height: 1.8;
    font-size: 12px;
    cursor: default;
    
    &:before, &:after {
        content: "";
        display: block;
        width: 1em;
        height: 1em;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(54%, -50%) rotate(45deg);
        background: #6D7589;
      }
      &.for_en {
        &:before, &:after {
           
            @media screen and (max-width: 1392px) {
                left: 50px;
                top: 0%;
            }
        }
    }
      &.for_tw {
        &:before, &:after {
            @media screen and (max-width: 1247px) {
                left: 50px;
                top: 0%;
            }
        }
    }
}
@-webkit-keyframes SlideToTop {
	from {
        position: absolute;
        transition: top 500ms cubic-bezier(0.47, 0, 0.75, 0.72) .5s;
        top: 100%
	}
	to {
        position: absolute;
        transition: top 500ms cubic-bezier(0.47, 0, 0.75, 0.72) .5s;
		top: 40%
	}
}
.sp-block {
	font-size: 16px  !important;
	font-weight: bold  !important;
	font-style: normal  !important;
	font-stretch: normal  !important;
	line-height: 1.79  !important;
	letter-spacing: 1.7px  !important;
	color: #606060  !important;
	margin-top: 40px  !important;
	text-align:center !important;
	white-space:pre-wrap  !important;
	display: block  !important;
    margin-block-start: 0.67em  !important;
    margin-block-end: 0.67em  !important;
    margin-inline-start: 0px  !important;
	margin-inline-end: 0px  !important;
}
.email-me {
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 1.2px;
	color: #606060;
    text-align:center !important;
    p {
        text-align:center !important;
        color: #606060 !important;
        font-size: 12px !important;
        font-weight: bold !important;
        font-style: normal !important;
        font-stretch: normal !important;
        line-height: 2 !important;
        letter-spacing: 1.2px !important;
    }

	a {
		border-radius: 40px;
		box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		border: none;
		padding: 20px 30px;
		line-height: 1.23;
		margin-top: 10px;
		display:block;
		width: 150px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 1.5px;
		color: #606060;
		cursor: pointer;
		outline: 0;
		margin-left: auto;
		margin-right: auto;
		transition: all .5s;
		text-decoration: none;
		&:hover {
			box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
		}
	}
}
@keyframes SlideToTop {
	from {
        position: absolute;
        transition: top 500ms cubic-bezier(0.47, 0, 0.75, 0.72) .5s;
        top: 100%;
	}
	to {
        position: absolute;
        transition: top 500ms cubic-bezier(0.47, 0, 0.75, 0.72) .5s;
        top: 40%;
	}
}
@keyframes SlideToTopInMobile {
	from {
        position: absolute;
        transition: top 500ms cubic-bezier(0.47, 0, 0.75, 0.72) .5s;
        top: 100%
	}
	to {
        position: absolute;
        transition: top 500ms cubic-bezier(0.47, 0, 0.75, 0.72) .5s;
        top: 45%;
	}
}

@-webkit-keyframes fadein {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}
@keyframes fadein {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}

@-webkit-keyframes rotate {
	from {
        transform: rotate(0deg);
	}
	to {
        transform: rotate(360deg);
	}
}
@keyframes rotate {
	from {
        transform: rotate(0deg);
	}
	to {
        transform: rotate(360deg);
	}
}