$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;
#code-feature-section {
  width: 55%;
  height: 300px;
  box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.11);
  background-color: #ceb9c3;
  border-radius: 20px;
  position: relative;
  max-width: 460px;
  @media screen and (max-width: $pc-media) {
    width: 70%;
    height: 200px;
  }
  @media screen and (max-height: 650px) {
    width: 60%;
    height: 52%;
  }
  .header {
    height: 25px;
    background: white;
    border-radius: 20px 20px 0 0;
    position: relative;
    justify-content: flex-start;
    padding-left: 20px;
    @media screen and (max-width: $pc-media), (max-height: 650px) {
      height: 15px;
    }
    .dot {
      width: 10px;
      height: 10px;
      background-color: #bfbfbf;
      border-radius: 50%;
      margin-right: 10px;
      @media screen and (max-width: $pc-media), (max-height: 650px) {
        height: 8px;
        width: 8px;
      }
    }
  }
  .content {
    // padding: 30px;
    width: 100%;
    padding-top: 20px;
    position: relative;
    .block_wrapper {
      display: flex;
      flex-direction: row;
    }
    .block_wrapper_inside {
      flex: 1;
      display: flex;
    }
    .block {
      border-radius: 10px;
      background-image: none;
      position: relative;
      margin: 0 10px;

      &.block1 {
        width: 0%;
        height: 30px;
        animation: 0.4s grow-lines 1s 1 linear, shine-lines 2s infinite linear;
        animation-fill-mode: forwards;
        --final-width: 95%;
        @media screen and (max-width: $pc-media), (max-height: 650px) {
          --final-width: 90%;
          height: 20px;
        }
      }
      &.block2,
      &.block3 {
        height: 0px;
        width: 0%;
        margin-top: 20px;
        display: inline-block;
        --final-width: 100%;
        --final-height: 63px;
        @media screen and (max-width: $pc-media), (max-height: 650px) {
          --final-height: 30px;
        }
      }
      &.block2 {
        animation: 0.4s grow-lines-with-height 1.2s 1 linear,
          shine-lines 2s infinite linear;
        animation-fill-mode: forwards;
      }
      &.block3 {
        animation: 0.5s grow-lines-with-height 1.3s 1
            cubic-bezier(0.785, 0.135, 0.15, 0.86),
          shine-lines 1.6s infinite linear;
        animation-fill-mode: forwards;
      }
      &.block4 {
        height: 10px;
        margin-top: 30px;
        width: 0%;
        --final-width: 45%;
        animation: 0.5s grow-lines 1.5s 1 ease-in,
          shine-lines 1.6s infinite linear;
        animation-fill-mode: forwards;
        @media screen and (max-width: $pc-media), (max-height: 650px) {
          height: 8px;
          margin-top: 20px;
        }
      }
      &.block5 {
        height: 10px;
        margin-top: 10px;
        width: 0%;
        --final-width: 80%;
        animation: 0.5s grow-lines 1.7s 1 cubic-bezier(0.17, 0.67, 0.83, 0.67),
          shine-lines 1.6s infinite linear;
        animation-fill-mode: forwards;
        @media screen and (max-width: $pc-media), (max-height: 650px) {
          height: 8px;
        }
      }
      &.block6 {
        height: 10px;
        margin-top: 10px;
        width: 0%;
        --final-width: 60%;
        animation: 0.8s grow-lines 2s 1 cubic-bezier(0.17, 0.67, 0.83, 0.67),
          shine-lines 1.6s infinite linear;
        animation-fill-mode: forwards;
        @media screen and (max-width: $pc-media), (max-height: 650px) {
          height: 8px;
        }
      }
    }
    .motto {
      width: 100%;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 0.8;
      letter-spacing: 3px;
      text-align: left;
      color: #ffffff;
      // position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 0;
      opacity: 0;
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
      animation: fadein 2s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
      @media screen and (max-width: $pc-media) {
        font-size: 18px;
      }
      p {
        top: 40%;
        margin: 0px 0;
        position: absolute;
        &:last-child {
          top: 58%;
        }
      }
    }
  }
}

@keyframes shine-lines {
  0% {
    background-image: linear-gradient(
      90deg,
      rgba(141, 125, 138, 0.27) 0px,
      rgba(141, 125, 138, 0.1) 40px,
      rgba(141, 125, 138, 0.27) 80px
    );
    background-position: -200px + 68;
  }
  // 40% {
  //     background-position: 180px + 68;

  // }
  100% {
    background-image: linear-gradient(
      90deg,
      rgba(141, 125, 138, 0.27) 0px,
      rgba(141, 125, 138, 0.1) 40px,
      rgba(141, 125, 138, 0.27) 80px
    );
    background-position: 180px + 68;
  }
}
@keyframes grow-lines {
  0% {
    width: 0%;
  }
  100% {
    width: var(--final-width);
  }
}
@keyframes grow-lines-with-height {
  0% {
    width: 0%;
    height: 0px;
  }
  100% {
    width: var(--final-width);
    height: var(--final-height);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
