$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;
$segment-label-width: 80px;
.mobile_sidebar_content {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-image: linear-gradient(192deg, rgba(129, 160, 193, 0.9), rgba(178, 118, 131, 0.81));
    // display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
    transition: all 1s ease-in-out;
    -webkit-user-select: none;   /* for Chrome */
    -moz-user-select: none;  /* for Firefox */ 
    .button-container {
        z-index: 1000;
    }
    a {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: 2.5px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin-bottom: 30px;
    }
   .icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
        justify-content: space-between;
        margin-top: 50px;
        a {
            img {
                width: 40px;
                height: 40px;
            }
        }
   }
   #segment {
        color: white;
        margin-bottom: 50px;
        input:checked + label {
            color: #606060;
        }
       & label:last-of-type {
        -webkit-transform: translatey(-0.8px) perspective(300px) rotateX(30deg);
        -o-transform: translatey(-0.8px) perspective(300px) rotateX(30deg);
        -moz-transform: translatey(-0.8px) perspective(300px) rotateX(30deg);
       }
       #seg2:checked ~ #bckgrnd {
        width: $segment-label-width + 1px;
        transition: all 0.1s ease-in-out;
        -webkit-transform: translatey(-0.8px) translateX($segment-label-width) perspective(300px) rotateX(30deg);
        -o-transform: translatey(-0.8px) translateX($segment-label-width) perspective(300px) rotateX(30deg);
        -moz-transform: translatey(-0.8px) translateX($segment-label-width) perspective(300px) rotateX(30deg);
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        border-radius: 0 10px 10px 0;
    }
   }
}
#menuTogglerLabel {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    opacity: 1;
    z-index: 1000;
    @media screen and (min-width: $pc-media) {
        display: none;
        animation: fadeout 1s;
    }
    .menu-toggler-line {
        background: #707070;
        display: block;
        height: 4px;
        margin: 0 0 5px;
        transition: all 0.3s ease-in-out;
        width: 30px;
        border-radius: 5px; 
    }
    

}
#menuToggler {
    position: absolute;
    opacity: 0;
    
    &:checked ~ #menuTogglerLabel {
        .menu-toggler-line {
            background: white;
            &:first-child {
                transform: rotate(45deg);
                transform-origin: 8px -1px;
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: -5px 0px;
              }
        }
        &.closing {
            .menu-toggler-line {
                background: #707070;
                &:first-child {
                    transform: unset;
                    transform-origin: unset;
                  }
                  &:nth-child(2) {
                    opacity: 1;
                  }
                  &:nth-child(3) {
                    transform: unset;
                    transform-origin: unset;
                  }
            }
        }
    }
    &:checked ~ .mobile_sidebar_content {
        display: flex;
        animation: fadein .5s;
    }
    &:checked ~ .mobile_sidebar_content.closing {
        animation: fadeout .5s;
    }
}
@-webkit-keyframes fadein {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}
@keyframes fadein {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}
@-webkit-keyframes fadeout {
	from {
        opacity: 1;
	}
	to {
        opacity: 0;
	}
}
@keyframes fadeout {
	from {
        opacity: 1;
	}
	to {
        opacity: 0;
	}
}