.sticky {
    position: fixed !important;
    top: -10px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    left: calc(250px + 28px);
    margin: 0;
    width: calc(100vw - 250px - 56px);
    transition: all .02s;
    animation: sticky_fadein .8s ease-in;
    .project-title {
        text-align: center;
    }
    .close-btn {
        top: 5px !important;
    }
    & ~ .project-detail_content {
        transition: all .2s;
        margin-top: 100px;
    }
    &.fadeout {
        animation: sticky_fadeout .8s ease-out;
    }
    
}
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-animation: none !important;
    -o-transition: none !important;
    transition: none !important;
    animation: none !important;
    transform: none !important;
    -webkit-transform: none !important;
  }
#work-detail-container {
    border-radius: 20px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 7px 15px 20px 0 rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    margin: 25px 28px 0px;
    padding: 38px 36px 38px;
    overflow: hidden;
    transition: transform 300ms ease-in;
    transform: scale(0.5);
    -webkit-animation: contentScaleUp .5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: contentScaleUp .5s; /* Firefox < 16 */
    -ms-animation: contentScaleUp .5s; /* Internet Explorer */
    -o-animation: contentScaleUp .5s; /* Opera < 12.1 */
    animation: contentScaleUp .5s;
    animation-fill-mode: forwards;  
    
    
    .close-btn {
        right: 60px;
        top: 45px;
        width: 32px;
        height: 32px;
        opacity: 0.6;
        position: absolute;
        cursor: pointer;
        background-image: linear-gradient(to bottom, #f1f9ff, #e2e7f5 3%, #ecdbdb);
        border-radius: 50%;
        transition: all .5s;
        &:before, &:after {
            position: absolute;
            left: 15px;
            top: 6px;
            content: ' ';
            height: 20px;
            width: 2px;
            background-image: linear-gradient(to bottom, #696a6a, #353535);

          }
          &:before {
            transform: rotate(45deg);
          }
          &:after {
            transform: rotate(-45deg);
          }
          &:hover {
              opacity: 1;
          }
    }
    .project-img {
        margin-right: 50px;
    }
    .project-detail_content {
        margin-top: 38px;
        // transition: all .2s;
        h1 {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: 1.7px;
            text-align: left;
            color: #606060;
            margin-top: 40px;
        }
        h2 {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: 1.7px;
            text-align: left;
            color: #606060;
        }
        p, ul {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.5;
            letter-spacing: 1.2px;
            text-align: left;
            color: #606060;

        }
        a {
            color: #949494;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .image-group {
            img {
                display: inline-block;
                margin-right: 30px;
                margin-bottom: 30px;
                vertical-align: middle;
                cursor: pointer;
                &.app-screenshot {
                    width: 20%;
                }
                &.web-screenshot {
                    height: 300px;
                }
                &.other {
                    width: 90%;
                }
            }
        }
    }
    .navigate-project-btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        &.only-display-next {
            a:first-of-type {
                visibility: hidden;
            }
        }
        &.only-display-prev {
            a:last-of-type {
                visibility: hidden;
            }
        }
        a {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.5;
            letter-spacing: 1.2px;
            text-align: left;
            color: #919191;
            text-decoration: none;
            transition: all .5s;
            cursor: pointer;
            &:hover {
                color: #606060;
            }
        }
    }
}
@-webkit-keyframes contentScaleUp {
    from {
        transition: transform 300ms ease-in;
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
@keyframes contentScaleUp {
    from {
        transition: transform 300ms ease-in;
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@-webkit-keyframes fadein {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}
@keyframes fadein {
	from {
        opacity: 0;
	}
	to {
        opacity: 1;
	}
}


@-webkit-keyframes sticky_fadein {
	0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
	100% {
        opacity: 1;
	}
}
@keyframes sticky_fadein {
	0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
	100% {
        opacity: 1;
	}
}

@-webkit-keyframes sticky_fadeout {
	0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
	100% {
        opacity: 0;
	}
}
@keyframes sticky_fadeout {
	0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
	100% {
        opacity: 0;
	}
}